<div id="toolErase">
    <div id="toolErase_info">
        <h1>Erase text manually:</h1>
        <h2>Activate the icon and select the area you want to erase, set the color too or leave it to detect
            automatically.</h2>
    </div>
    <div id="buttonsActions">
        <div class="button-action">
            <img src="/assets/icons/18.svg" alt="">
        </div>
        <div class="button-action">
            <div id="boxColor"></div>
            <input type="text">
        </div>
    </div>
</div>