<div id="boxAi">
    <div class="tool">
        <div (click)="requestIdentification()" id="buttonIdentification">
            <h1>Identify boxes with AI</h1>
            <img src="/assets/icons/15.svg" alt="">
        </div>

        <div id="infos_Identification">
            <div class="infoAboutIdentification">
                <div class="element_infoAboutIdentification">
                    <h1>Average reliability:</h1>
                </div>
                <div class="element_infoAboutIdentification">
                    <h1>{{average_score}}<span class="blueSpam">%</span></h1>
                </div>
            </div>

            <div class="infoAboutIdentification">
                <div class="element_infoAboutIdentification">
                    <h1>Quantity identified:</h1>
                </div>
                <div class="element_infoAboutIdentification">
                    <h1><span class="blueSpam">{{quantityFound}}</span></h1>
                </div>
            </div>
            <div class="othersButton">
                <div class="buttonOther" (click)="requestRemoveText()">
                    <h1>Remove text</h1>
                </div>
                <div class="buttonOther" (click)="requestAddBoxText()">
                    <h1>Add text box</h1>
                </div>
            </div>

            <div style="display: none;" id="buttonEnable" (click)="enableOcrBoxs()" [ngClass]="{'select': enableOcrBox}">
                <h1>Enable box OCR and translate</h1>
            </div>
        </div>
    </div>
</div>