:host {
    position: relative;
    display: flex;
    justify-content: stretch;
    align-self: stretch;
    height: 100%;
}

#home {
    position: relative;

    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: flex-start;
    align-items: stretch;
    gap: 24px;
}

#home h1,
h2,
h3,
p {
    color: #e7e7e7;
}

#headerHome {
    position: relative;
    align-self: stretch;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

#logoVersion {
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding: 0;
}

#logo {
    width: 48px;
    height: 67px;
    flex-grow: 0;
    object-fit: contain;
    border: solid 2px rgba(108, 165, 250, 0.8);
    background-color: rgba(108, 165, 250, 0.2);
    border-radius: 100%;
}

#infoVersion {
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    padding: 0;
}

#infoVersion h1 {
    font-size: 22px;
}

#infoVersion h2 {
    font-size: 16px;
    color: #73abff;
}

#actionsOptions {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0;
}

.buttonOptions {
    cursor: pointer;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 12px 22px;
    border-radius: 18px;
    transition: 0.2s background ease;
}

.buttonOptions:hover {
    background-color: #2c2c2c;
}

.buttonOptions.select {
    background-color: #2c2c2c;
}

.buttonOptions h1 {
    font-size: 14px;
}

#actionsUser {
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding: 0;
}

#buttonLogin {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 11px 20px;
    border-radius: 40px;
    border: solid 2px #73abff;
}

#buttonLogin h1 {
    font-size: 12px;
}

#imageUser {
    width: 30px;
    height: 30px;
    flex-grow: 0;
    border-radius: 999px;
    border: solid 1px #606060;
    background-color: #212121;
}

#recents {
    position: relative;
    align-self: stretch;
    height: 100%;
    /* flex-grow: 1; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 30px 30px 0px 0px;
    gap: 30px;
    padding: 40px 40px 0px 50px;
    background-image: linear-gradient(to right, #212121 40%, #1f1f1f 100%);
}

#shortenedHeader {
    flex-grow: 0;
    opacity: 0;
    align-self: center;
    top: -35px;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    padding: 10px 20px 10px;
    border-radius: 30px;
    background-color: #1b1b1b;
}

#logoShort {
    width: 22px;
    height: 22px;
    flex-grow: 0;
    object-fit: contain;
    border-radius: 100%;
    border: solid 2px rgba(108, 165, 250, 0.8);
    background-color: rgba(108, 165, 250, 0.2);
}

#row_buttonShortenedHeader {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.buttonShortenedHeader {
    cursor: pointer;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #212121;
    transition: 0.2s background ease;
}

.buttonShortenedHeader:hover {
    background-color: #464646;
}

.buttonShortenedHeader.select {
    background-color: #464646;
}

#imageUserShort {
    width: 22px;
    height: 22px;
    border-radius: 100%;
    border: solid 1px #606060;
    background-color: #212121;
}

@media only screen and (max-height: 870px) {
    .content_element_boxFunctions {
        min-height: 200px;
    }
}