:host {
    height: 100%;
    width: 100%;
}

#home {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    gap: 28px;
    height: 100%;
    justify-content: flex-start;
    position: relative;
    width: 100%;
}

#home h1,
h2,
p {
    color: #e7e7e7;
}

#headerHome {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    gap: 10px;
    justify-content: flex-start;
    padding: 10px 0px;
    position: relative;
}

#logoVersion {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    gap: 7px;
    justify-content: flex-start;
    padding: 0;
}

#logoVersion h1 {
    color: #a9a9a9;
    font-family: BeepBlack;
    font-size: 30px;
}

#logoVersion h2 {
    color: #73abff;
    font-family: BeepBlack;
    font-size: 14px;
}

#actionsOptions {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    gap: 20px;
    justify-content: center;
    padding: 0;
}

.buttonOptions {
    align-items: center;
    background-color: rgba(32, 32, 32, 0.2);
    border: solid 1px #2b2b2b;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    gap: 10px;
    justify-content: flex-start;
    padding: 12px 22px;
    transition: 0.2s background ease;
}

.buttonOptions:hover {
    background-color: #202020;
}

.buttonOptions:hover .svg-menu {
    background-color: #838283;
}

.buttonOptions.select {
    background-color: #202020;
}

.buttonOptions.select .svg-menu {
    background-color: #838283;
}

.svg-menu {
    background-color: #575757;
    height: 18px;
    width: 18px;
}

.buttonOptions h1 {
    font-size: 14px;
}

#actionsUser {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    gap: 20px;
    justify-content: flex-start;
    padding: 0;
}

#boxMoreThings {
    align-items: center;
    background-color: #161616;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    gap: 10px;
    justify-content: center;
    padding: 10px 14px;
}

#boxMoreThings h1 {
    color: #777;
    font-family: BeepBlack;
    font-size: 12px;
}

#recents {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 100%;
    justify-content: flex-start;
    position: relative;
}

@media only screen and (max-height: 870px) {
    .hide-media #logoVersion,
    .hide-media #boxMoreThings {
        display: none;
    }

    .hide-media #actionsOptions {
        background-color: #161616;
        border-radius: 20px;
        padding: 10px 14px;
        width: -moz-fit-content;
        width: fit-content;
    }

    .hide-media#headerHome {
        display: grid;
        justify-content: center;
        left: 0;
        position: fixed;
        right: 0;
        top: 8px;
        z-index: 1;
    }

    .content_element_boxFunctions {
        min-height: 200px;
    }
}