<!-- <app-home *ngIf="showHome" (signChangeMenu)="changeDashBoard($event)"></app-home> -->

<div id="home" #home>
  <div id="headerHome" #headerHome>
    <div id="logoVersion">
      <h1>TypeCircle</h1>
      <h2>1.1.0</h2>
    </div>
    <div id="actionsOptions">
      <div class="buttonOptions" (click)="changeMenu(0)" [ngClass]="{'select': selectMenu == 0}">
        <div class="svg-mask svg-menu" style="mask-image: url('/assets/icons/27.svg');"></div>
      </div>
      <div class="buttonOptions" [ngClass]="{'select': selectMenu == 2}">
        <div class="svg-mask svg-menu" style="mask-image: url('/assets/icons/28.svg');"></div>
      </div>
    </div>
    <div id="actionsUser">
      <div id="boxMoreThings">
        <h1>More things coming soon.</h1>
      </div>
    </div>
  </div>

  <div id="recents">
    <app-home *ngIf="showHome" [ngStyle]="{ 'opacity': isAnimationOpenEdit ? '0' : '1' }"
      [projectDisplay]="projectDisplay" (sendOpenProject)="openProject($event)"
      (sendOpenFileFirst)="openFileFirst($event)" id="contentHome"></app-home>

    <app-dashboard-canva [ngClass]="{'hidden': showHome}" #contentEdit></app-dashboard-canva>
  </div>
</div>