
.boxEntryText {
    align-items: center;
    align-self: stretch;
    background-color: #222222;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: flex-start;
    padding: 16px 20px;
    transition: all 0.3s ease;
}

.ellipse{
    background-color: #2A384C;
    border: solid 1px rgba(100, 134, 185, 0.8);
    border-radius: 2px;
    flex-grow: 0;
    height: 16px;
    width: 16px;
}

.boxEntryText input{
    font-family: BeepSemiBold;
    font-size: 14px;
    font-family: "BeepMedium";
    color: #c0c0c0;
    width: 100%;
}

.boxEntryText img {
    cursor: grab;
}