<div id="isHome">
    <div id="headerRecents">
        <div id="openAndFormat">
            <div (click)="openImage()" id="buttonOpenFile">
                <div class="svg-mask svg-header" style="mask-image: url('/assets/icons/24.svg');"></div>
            </div>

            <div id="searchHeader">
                <div class="svg-mask svg-header" style="mask-image: url('/assets/icons/31.svg');"></div>
                <input placeholder="Search..." type="text">
            </div>

            <div class="buttonFormatDisplay select">
                <div class="svg-mask svg-header" style="mask-image: url('/assets/icons/23.svg');"></div>
            </div>

            <div class="buttonFormatDisplay">
                <div class="svg-mask svg-header" style="mask-image: url('/assets/icons/22.svg');"></div>
            </div>
        </div>
    </div>

    <div *ngIf="projectDisplay.length > 0" class="project-list-content">
        <div class="box-recent-in-list">
            <div class="headerItem">
                <p>Name</p>
                <img src="/assets/icons/32.svg" alt="">
            </div>

            <div class="headerItem lastUpdate">
                <p>Last update</p>
                <img src="/assets/icons/32.svg" alt="">
            </div>

            <div class="headerItem openFile">
                <p>Open files</p>
                <img src="/assets/icons/32.svg" alt="">
            </div>

            <div class="svg-mask svg-headerItem" style="mask-image: url('/assets/icons/13.svg');"></div>
        </div>
        <app-box-recent-in-list *ngFor="let project of projectDisplay; let i = index" [canvaFile]="project.canvaFile"
            [nameProject]="project.nameProject" [creationDate]="project.creationDate"
            [modificationDate]="project.modificationDate" [index]="i" (deleteBoxRecent)="onDeleteBoxRecent($event)"
            (openProject)="openProject($event)"></app-box-recent-in-list>
    </div>

    <div *ngIf="projectDisplay.length == 0" id="noImages">
        <span class="text-style-1">no </span>
        <span class="text-style-2">images</span>
        <span class="text-style-4">, add them, </span>
        <span class="text-style-3">maybe</span>
    </div>

    <!-- <app-box-recent *ngFor="let project of projectDisplay; let i = index" [canvaFile]="project.canvaFile"
      [nameProject]="project.nameProject" [creationDate]="project.creationDate"
      [modificationDate]="project.modificationDate" (click)="openProject(i)">
    </app-box-recent> -->
</div>

<!-- ignore -->
<input (change)="handleFileInput($event)" style="display: none;" type="file" #openFileImage>