:host {
    height: 100%;
    width: 100%;
}

#isHome {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 30px;
    justify-content: flex-start;
}

#headerRecents {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    gap: 26px;
    height: 44px;
    justify-content: flex-start;
    padding: 0;
}

#openAndFormat {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    gap: 10px;
    justify-content: flex-start;
    padding: 0;
}

#searchHeader {
    align-items: flex-start;
    background-color: rgba(32, 32, 32, 0.2);
    border: solid 1px #1b1b1b;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    gap: 10px;
    justify-content: flex-start;
    padding: 12px 18px;
    transition: 0.2s background ease;
}

#searchHeader input {
    font-family: "beepmedium";
    width: 100%;
}

#searchHeader:focus-within {
    background-color: #202020;
}

#searchHeader:focus-within .svg-header {
    background-color: #838283;
}

#buttonOpenFile {
    align-items: center;
    background-color: rgba(32, 32, 32, 0.2);
    border: solid 1px #2b2b2b;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    gap: 10px;
    justify-content: center;
    padding: 12px 16px;
    transition: 0.2s background ease;
}

#buttonOpenFile:hover {
    background-color: #202020;
}

#buttonOpenFile:hover .svg-header {
    background-color: #838283;
}

.svg-header {
    background-color: #575757;
    height: 18px;
    width: 18px;
}

#searchHeader .svg-header {
    height: 20px;
    width: 20px;
}

#buttonOpenFile h1 {
    font-size: 12px;
}

.contentProject {
    width: 100%;
}

.contentProject .hidden{
    opacity: 0;
}

.buttonFormatDisplay {
    align-items: center;
    background-color: rgba(32, 32, 32, 0.2);
    border: solid 1px #2b2b2b;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    gap: 10px;
    justify-content: center;
    padding: 12px 16px;
    transition: 0.2s background ease;
}

.buttonFormatDisplay:hover {
    background-color: #202020;
}

.buttonFormatDisplay:hover .svg-header {
    background-color: #838283;
}

.buttonFormatDisplay.select {
    background-color: #202020;
}

.buttonFormatDisplay.select .svg-header {
    background-color: #838283;
}

#noImages {
    align-self: center;
    color: #a9a9a9;
    flex-grow: 1;
    font-family: "beepmedium";
    font-size: 18px;
    opacity: 0;
}

#noImages .text-style-1 {
    font-size: 22px;
}

#noImages .text-style-2 {
    color: #73abff;
    font-size: 22px;
}

#noImages .text-style-3 {
    font-size: 12px;
}

.box-recent-in-list {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    gap: 30px;
    height: 20px;
    justify-content: flex-start;
    padding: 0;
}

.headerItem {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    gap: 10px;
    height: 20px;
    justify-content: flex-start;
    padding: 0;
}

.headerItem p {
    color: #c3c3c3;
    font-family: BeepLight;
    font-size: 16px;
}

.headerItem.lastUpdate {
    max-width: 300px;
}

.headerItem.openFile {
    max-width: 100px;
}

.svg-headerItem {
    background-color: #73ABFF;
    height: 14px;
    visibility: hidden;
    width: 14px;
}

#project-list-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: flex-start;
    position: relative;
    width: 100%;
}

#project-box-content {
    display: grid;
    gap: 20px;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    width: 100%;
}