<div  id="isHome">
    <div id="headerRecents">
        <div id="openAndFormat">
            <div (click)="openImage()" id="buttonOpenFile">
                <img src="/assets/icons/21.svg" alt="">
                <h1>Open a new file</h1>
            </div>

            <div class="buttonFormatDisplay">
                <img src="/assets/icons/22.svg" alt="">
            </div>

            <div class="buttonFormatDisplay select">
                <img src="/assets/icons/23.svg" alt="">
            </div>
        </div>

        <div id="orderFiles">
            <img src="/assets/icons/24.svg" alt="">
        </div>
    </div>

    <div *ngIf="projectDisplay.length > 0" class="project-list-content">
        <div class="box-recent-in-list">
            <div class="image-caption">
                <img src="#" alt="image-project" />
                <div class="caption-title">Project name</div>
            </div>
            <b class="image-number">Files</b>
            <div class="image-content">
                <a class="image-details">Modification date</a>
            </div>
            <div class="image-content content-delete">
                <a class="image-details">Creation date</a>
                <img src="/assets/icons/30.svg" alt="delete" />
            </div>
        </div>
        <app-box-recent-in-list *ngFor="let project of projectDisplay; let i = index" [canvaFile]="project.canvaFile"
            [nameProject]="project.nameProject" [creationDate]="project.creationDate"
            [modificationDate]="project.modificationDate" [index]="i" (deleteBoxRecent)="onDeleteBoxRecent($event)"
            (openProject)="openProject($event)"></app-box-recent-in-list>
    </div>

    <div *ngIf="projectDisplay.length == 0" id="noProjects">
        <div id="rowBalls-noProjects">
            <div class="element-rowBalls-noProjects"></div>
            <div class="element-rowBalls-noProjects"></div>
            <div class="element-rowBalls-noProjects"></div>
        </div>
        <div id="about-noProjects">
            <h2>No projects here</h2>
            <div (click)="openImage()" id="buttonOpenFile">
                <img src="/assets/icons/21.svg" alt="">
                <h1>Open a new file</h1>
            </div>
        </div>
    </div>

    <!-- <app-box-recent *ngFor="let project of projectDisplay; let i = index" [canvaFile]="project.canvaFile"
      [nameProject]="project.nameProject" [creationDate]="project.creationDate"
      [modificationDate]="project.modificationDate" (click)="openProject(i)">
    </app-box-recent> -->
</div>

<!-- ignore -->
<input (change)="handleFileInput($event)" style="display: none;" type="file" #openFileImage>