h1 {
    font-size: 13px;
}

#configFontBox {
    align-items: stretch;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    gap: 1px;
    justify-content: flex-start;
    padding: 0;
    border-radius: 5px;
    border: solid 1px #292929;
    background-color: #292929;
}

#configFontBox select {
    font-size: 13px;
}

.row_configFontBox {
    display: flex;
    gap: 1px;
}

.row_configFontBox:nth-child(1) {
    flex-basis: 70%;
}

.row_configFontBox:nth-child(2) {
    flex-basis: 30%;
}

.row_configFontBox:first {
    gap: 10px;
}

.row_configFontBox:first-child .button_configFont:first-child,
.row_configFontBox:nth-child(2) .button_configFont:first-child {
    min-width: 174px;
}

.button_configFont h1,
.button_configFont input,
.button_configFont {
    font-family: BeepSemiBold;
    color: #c0c0c0;
}

.button_configFont {
    max-width: 212px;
}

.button_configFont,
.button_configAlingText {
    align-items: center;
    align-self: stretch;
    background-color: #1b1b1b;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    gap: 10px;
    justify-content: flex-start;
    padding: 15px 18px;
    border: 0;
}

.button_configAlingText {
    display: flex;
    background-color: #151515;
    cursor: pointer;
    justify-content: center;
    flex-grow: 1;
    padding: 15px;
    transition: background, border 0.08s ease;
    width: -moz-fit-content;
    width: fit-content;
}

.svg-row {
    width: 17px;
    height: 13px;
    background-color: #575757;
}

.button_configAlingText:hover {
    background-color: #1b1b1b;
}

.button_configAlingText:hover .svg-row {
    background-color: #c0c0c0;
}

.button_configAlingText.select {
    background-color: #1b1b1b;
}

.button_configAlingText.select .svg-row {
    background-color: #c0c0c0;
}

.showColorSelect {
    background-color: #000;
    border: solid 2px #5c5c5c;
    border-radius: 5px;
    flex-grow: 0;
    height: 14px;
    width: 18px;
}

.button_configFont img {
    height: 18px;
    width: 18px;
}

.button_configFont input {
    width: 100%;
}

.rowTextAling {
    align-items: flex-start;
    display: flex;
    flex: 1 0 0;
    flex-direction: row;
    gap: 1px;
    justify-content: flex-start;
    padding: 0;
}

#changeLineHeightFont {
    color: #575757;
}