<div id="configFontBox">

    <div class="row_configFontBox">
        <div *ngIf="showButtonChoiceFont" style="cursor: pointer;" (click)="listFonts()" class="button_configFont">
            <h1>Allow local fonts</h1>
        </div>

        <app-font-dropdown (selectionChanged)="handleSelectionChanged($event)" *ngIf="!showButtonChoiceFont" [fontFamilies]="fontFamilies" [fontMap]="fontMap">
        </app-font-dropdown>

        <select class="button_configFont" (change)="changeSizeFont()" [(ngModel)]="sizeFont" name="select">
            <option value=4>4px</option>
            <option value=6>6px</option>
            <option value=8>8px</option>
            <option value=10>10px</option>
            <option value=12>12px</option>
            <option value=14 selected>14px</option>
            <option value=16>16px</option>
            <option value=18>18px</option>
        </select>
    </div>

    <div class="row_configFontBox">
        <div class="button_configFont">
            <div [colorPicker]="colorFont" [ngStyle]="{ 'background-color': colorFont }"
                (colorPickerChange)="onColorChange($event)" class="showColorSelect"></div>
            <input (change)="changeColorFont()" [(ngModel)]="colorFont" type="text" value="#000000">
        </div>
        <div class="button_configFont">
            <img src="/assets/icons/10.svg" alt="">
            <input id="changeLineHeightFont" (change)="changeLineHeightFont()" [(ngModel)]="lineHeightFont" type="number" placeholder="Auto"
                pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required />
        </div>
    </div>


    <div class="rowTextAling">
        <div (click)="selectAling(0)" class="button_configAlingText" [ngClass]="{'select': positionText == 0}">
            <div class="svg-mask svg-row" style="mask-image: url('/assets/icons/08.svg');"></div>
        </div>
        <div (click)="selectAling(1)" class="button_configAlingText" [ngClass]="{'select': positionText == 1}">
            <div class="svg-mask svg-row" style="mask-image: url('/assets/icons/07.svg');"></div>
        </div>
        <div (click)="selectAling(2)" class="button_configAlingText" [ngClass]="{'select': positionText == 2}">
            <div class="svg-mask svg-row" style="mask-image: url('/assets/icons/09.svg');"></div>
        </div>
    </div>

</div>