.box-translate {
    align-items: flex-start;
    background-color: #292929;
    border: solid 2px #555;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    gap: 14px;
    justify-content: flex-start;
    min-width: 180px;
    padding: 15px 12px;
    position: absolute;
    z-index: 1;
}

.box-translate h2 {
    font-size: 14px;
}

#row_translateButtons {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    gap: 7px;
    justify-content: flex-start;
    width: 100%;
}

.translateButtons {
    align-items: center;
    background-color: #333;
    border: solid 1px #4b4b4b;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    gap: 10px;
    justify-content: center;
    padding: 8px 10px;
}

.translateButtons h2 {
    font-size: 12px;
}