


@font-face {
    font-family: 'beepblack';
    src: url('beep-black-webfont.woff2') format('woff2'),
         url('beep-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'beepbold';
    src: url('beep-bold-webfont.woff2') format('woff2'),
         url('beep-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'beeplight';
    src: url('beep-light-webfont.woff2') format('woff2'),
         url('beep-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'beepmedium';
    src: url('beep-medium-webfont.woff2') format('woff2'),
         url('beep-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'beepregular';
    src: url('beep-regular-webfont.woff2') format('woff2'),
         url('beep-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'beepsemibold';
    src: url('beep-semibold-webfont.woff2') format('woff2'),
         url('beep-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'beepthin';
    src: url('beep-thin-webfont.woff2') format('woff2'),
         url('beep-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'beepultrablack';
    src: url('beep-ultrablack-webfont.woff2') format('woff2'),
         url('beep-ultrablack-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'beepultralight';
    src: url('beep-ultralight-webfont.woff2') format('woff2'),
         url('beep-ultralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}