:host {
    width: 100%;
    height: 100%;
}

.box-recent-in-list {
    align-items: center;
    align-self: stretch;
    border-bottom: solid 1px #2c2c2c;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    gap: 30px;
    height: 20px;
    justify-content: flex-start;
    padding: 0 0 20px;
}

.headerItem {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    gap: 10px;
    height: 20px;
    justify-content: flex-start;
    padding: 0;
}

.headerItem img {
    border-radius: 10px;
    flex-grow: 0;
    height: 18px;
    mix-blend-mode: difference;
    -o-object-fit: cover;
       object-fit: cover;
    width: 18px;
}

.headerItem p {
    color: #c3c3c3;
    font-family: BeepMedium;
    font-size: 14px;
}

.headerItem input {
    font-family: BeepMedium;
    font-size: 14px;
}

.headerItem.lastUpdate {
    max-width: 300px;
}

.headerItem.openFile {
    max-width: 100px;
}

.svg-headerItem {
    background-color: #73ABFF;
    cursor: pointer;
    height: 12px;
    width: 12px;
}