<div class="box-recent-in-list" (click)="onBoxClick()" #boxRecentList>
    <div class="headerItem">
        <img [src]="imageSrc" alt="image" />
        <input placeholder="not defined" class="caption-title" (click)="onTitleClick($event)" [value]="nameProject" (input)="changeInput($event)" type="text"
            (focus)="onFocusInput()" (blur)="onBlurInput()">
    </div>

    <div class="headerItem lastUpdate">
        <p>{{modificationOnlyDate}}, {{modificationOnlyHour}}</p>
    </div>

    <div class="headerItem openFile">
        <p>{{totalImage}}</p>
    </div>

    <div (click)="onDeleteClick($event)" class="svg-mask svg-headerItem" style="mask-image: url('/assets/icons/13.svg');"></div>
</div>