.elementFileBox {
    align-items: center;
    align-self: stretch;
    background-color: #151515;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    justify-content: space-between;
    padding: 14px 18px;
}

.elementFileBox.select {
    background-color: #222222;
}

.elementFileBox:hover {
    background-color: #222222;
}

.contentImage_elementFileBox {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    gap: 14px;
    justify-content: flex-start;
    padding: 0;
}

.image_elementFileBox {
    border: solid 1px #6ca5fa;
    border-radius: 5px;
    flex-grow: 0;
    height: 18px;
    mix-blend-mode: difference;
    -o-object-fit: cover;
       object-fit: cover;
    width: 18px;
}

.contentImage_elementFileBox h1 {
    color: #c0c0c0;
    font-family: BeepSemiBold;
    font-size: 13px;
}

.contentInfo_elementFileBox {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    gap: 10px;
    justify-content: flex-start;
    padding: 0;
}

.contentInfo_elementFileBox img {
    cursor: pointer;
    height: 15px;
    width: 15px;
}

.fileExtension {
    align-items: center;
    background-color: #1b1b1b;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    gap: 10px;
    justify-content: flex-start;
    padding: 5px 8px;
}

.fileExtension h2 {
    font-size: 11px;
}

.contentInfo_elementFileBox img:last-child{
    height: 11px;
    width: 11px;
}