<div #boxRecent id="boxRecent" (click)="onBoxClick()">
    <div id="infoAboutProject">
        <div class="buttonInfo">
            <h3>{{totalImage}}</h3>
        </div>
        <div (click)="onDeleteClick($event)" class="buttonInfo">
            <div class="svg-mask svg-headerItem" style="mask-image: url('/assets/icons/13.svg');"></div>
        </div>
    </div>
    <img [src]="imageSrc" alt="">
    <div id="headerBox">
        <input placeholder="not defined" class="caption-title" (click)="onTitleClick($event)" [value]="nameProject"
            (input)="onChangeInput($event)" type="text">
        <h3>{{modificationDate}}</h3>
    </div>
</div>