/* boxRecent */
#boxRecent,
#infoAboutProject {
    width: 180px;
}

#boxRecent {
    align-items: flex-start;
    background-color: #151516;
    border: solid 1px #1b1b1b;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    font-size: 9px;
    justify-content: flex-start;
    -webkit-line-clamp: 1;
    overflow: auto;
}

#boxRecent h2,
h3 {
    color: #9f9f9f;
}

#boxRecent h2 {
    font-family: beepmedium;
    font-size: 14px;
}

#boxRecent h3 {
    font-family: beepregular;
}

#boxRecent img {
    flex-grow: 1;
    height: 115px;
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
}

#headerBox {
    align-items: stretch;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 10px;
    justify-content: flex-end;
    padding: 16px 14px 18px;
    width: 100%;
}

#headerBox h2 {
    color: #A4A4A4;
}

#headerBox input{
    border: 0;
    transition: padding 0.2s ease;
}

#headerBox input:focus {
    border-radius: 5px;
    padding: 5px;
}

#infoAboutProject {
    display: flex;
    justify-content: space-between;
    position: absolute;
}

.buttonInfo {
    align-items: center;
    background-color: #131314;
    border: solid 1px #1b1b1b;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: -moz-fit-content;
    height: fit-content;
    justify-content: center;
    padding: 5px 9px;
}

.buttonInfo:first-child {
    margin: 10px;
}

.buttonInfo:nth-child(2){
    border-radius: 0px 8px 0px 8px;
    padding: 12px;
}

.svg-headerItem {
    background-color: #73ABFF;
    cursor: pointer;
    height: 9px;
    width: 9px;
}

.buttonInfo h3 {
    color: #73abff;
    font-family: beepbold;
    font-size: 12px;
}