<div class="boxRecent">
    <img [src]="imageSrc" alt="">
    <div id="headerBox">
        <h1>{{nameProject}}</h1>
        <h2>Total de images: <span id="blueColor">{{totalImage}}</span></h2>
        <div class="infoAboutFile">
            <div class="columnInfoFile">
                <img src="/assets/icons/25.svg" alt="">
                <h2>{{modificationDate}}</h2>
            </div>
            <div class="columnInfoFile">
                <img src="/assets/icons/26.svg" alt="">
                <h2>{{creationDate}}</h2>
            </div>
        </div>
    </div>
</div>